Flask==0.10.1
Flask-PyMongo==0.3.0
Flask-RESTful==0.2.12
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.21
SQLAlchemy==0.9.4
WTForms==1.0.5
Werkzeug==0.9.4
aniso8601==0.82
argparse==1.2.1
flask-heroku==0.1.8
flask-mongoengine==0.7.0
gunicorn==18.0
itsdangerous==0.24
mongoengine==0.8.7
psycopg2==2.5.2
pymongo==2.7
pytz==2014.4
six==1.7.2
wsgiref==0.1.2
